<section class="error-page-container content my-auto">
    <div class="error-page" style="margin: 0px auto;">
        <h2 class="headline text-danger">403</h2>
        <div class="error-content">
            <h3><i class="fa fa-exclamation-triangle text-danger"></i>
                OOPPSSS!!!! Sorry...</h3>
            <p>
                sorry, your access is refused due to security reasons of our
                server and also our sensitive data.<br />Please go
                back to the previous page to continue browsing.
            </p>
            <a class="btn bt-md custom_btn text-light mt-2"
                (click)="redirectToPage()">
                <i class="fa fa-lock" aria-hidden="true"></i>
                &nbsp; Please login
            </a>
        </div>
    </div>
</section>

